:root {
  /* Fonts */
  --font-body: "Inter", system-ui, sans-serif;
  --font-heading: "Markazi Text", system-ui, sans-serif;

  /* Font sizes */
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.75rem;

  /* Line heights */
  --leading-tight: 1.2;
  --leading-normal: 1.6;

  /* Base colors */
  --color-bg: #ffffff;
  --color-text: #1a1a1a;

  /* Brand colors Primary*/
  --color-primary: #495e57;
  --color-primary-second: #f4ce14;

  /* Brand colors Secondary */
  --color-secondary-first: #ee9972;
  --color-secondary-second: #fbdabb;

  /*Highlight Colors*/
  --color-highlight: #edefee;
  --color-highlight-second: #333333;

  /* Accent */
  --color-accent: #f59e0b;

  /* UI */
  --color-muted: #9ca3af;

  --color-bg: #121212;
  --color-text: #ffffff;
}
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  min-height: 100vh;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("src/assets/icons_assets/restaurant.jpg"); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}
a {
  color: var(--color-primary-second);
  text-decoration: none;
}
header {
  grid-area: header;

  background-color: var(--color-bg);

  font: var(--font-heading);
}
main {
  grid-area: main;
  color: #121212;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-bg);
  height: 100vh;
  width: 100vw;
}
footer {
  grid-area: footer;
  text-align: center;
  padding: 1rem;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.6);
  background-color: #213547;
}
header {
  width: 100vw; /* viewport width */
  left: 0;
  right: 0;
  position: fixed; /* or fixed if you want sticky */ /* semi-transparent background without affecting children */
}
footer {
  width: 100vw; /* viewport width */
  left: 0;
  right: 0;
}

.header_box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: start;
  padding: 10px;
  gap: 80px;
}

.navigate_links ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
.navigate_links ul li a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: bold;
  padding: 5px 12px;
  transition: background-color 0.3s, color 0.3s;
}
.navigate_links ul li a:hover {
  background-color: var(--color-primary-second);
  color: var(--color-bg);
  border-radius: 5px;
}
h2 {
  font-family: var(--font-heading);
  font-size: var(--text-xl);
  margin-bottom: 1rem;
  color: var(--color-text);
}
input[type="text"],
input[type="date"],
input[type="number"],
input[type="submit"],
input,
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: var(--text-base);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #ffffff;
    --color-text: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (max-width: 700px) {
  .grid-adjustable-columns {
    display: grid;
    grid-auto-flow: row;
  }
}

@media (min-width: 701px) {
  .grid-adjustable-columns {
    width: min(1000px, 75rem);
    margin: 0 auto;
    grid-auto-flow: column;
    gap: 1em;
  }
}
